[Unit]
Description=litecoind-minfee
After=network.target

[Service]
ExecStart=/usr/local/bin/litecoind -daemon -printtoconsole -pid=/minfee/litecoind-minfee.pid
ExecStop=/usr/local/bin/litecoin-cli stop

Type=forking
PIDFile=/minfee/litecoind.pid
Restart=on-failure

User=minfee
Group=minfee

PrivateTmp=true
ProtectSystem=full
NoNewPrivileges=true
PrivateDevices=true

[Install]
WantedBy=multi-user.target
